body {
  color: white;
  background-color: #202124;
}
::-moz-selection {
  background: blue;
  color: #fff;
}
::selection {
  background: navy;
  color: #fff;
}
hr {
  border-top: 3px dotted white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
h2::before { content: '# '; color: var(--darkMaincolor); }
h3::before { content: '## '; color: var(--darkMaincolor); }
h4::before { content: '### '; color: var(--darkMaincolor); }
a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: initial;
  color: white;
  text-shadow: 0px 0px 25px rgb(209, 209, 209);
}
.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}
.site-title a {
  color: white;
  text-decoration: none !important;
}
.header nav,
.footer {
  border-color: #333;
}
.highlight {
  background-color: #333;
}
.soc:hover {
  color: white;
}
