:root {
  --text-color: white;
  --background-color: #202124;
  --accent-color: rgb(150, 190, 215);
}
html {
  color: var(--text-color);
  background-color: var(--background-color);
}
a {
  border-bottom: 3px solid var(--accent-color);
}
a:hover {
  text-shadow: 0px 0px 25px var(--text-color);
}
hr {
  border-top: 4px dotted var(--text-color);
}
::-moz-selection {
  background: var(--accent-color);
}
::selection {
  background: var(--accent-color);
}
h2::before { content: '# '; color: var(--accent-color); }
h3::before { content: '## '; color: var(--accent-color); }
h4::before { content: '### '; color: var(--accent-color); }
