<!DOCTYPE html>
<html>
    {{ partial "header.html" . }}
    <body>
        <div class="content">
            {{ partial "head.html" . }}
            <div class="intro">
                <img src="img/me.png">
                <div>
                    <h1>David Weiß</h1>
                    <p>I am a dummy text, spanning over a few lines. And even more content goes here and there to form a long sentence.</p>
                    <p>I am another piece of information, adding value to the reader.</p>
                    <p>
                        <a href="./about/">About me</a> •
                        <a href="./projects/">Projects</a> •
                        <a href="./now/">What I'm doing now</a>
                    </p>
                    <p class="network-icons">
                        <a href="mailto:davidweisspost@gmail.com"><img src="img/icons/mail.svg"></a>
                        <a href="https://www.linkedin.com/in/davidweisslink/"><img src="img/icons/linkedin.svg"></a>
                        <a href="https://github.com/davidweisscode"><img src="img/icons/github.svg"></a>
                        <a href="https://twitter.com/davidweissnews"><img src="img/icons/twitter.svg"></a>
                        <a href="https://www.facebook.com/davidweissbook"><img src="img/icons/facebook.svg"></a>
                        <a href="https://www.instagram.com/davidweisspics/"><img src="img/icons/instagram.svg"></a>
                    </p>
                </div>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
